@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;


  --primary-color: #3AA05F;
  --secondary-color: #9370DB;
  --card-bg-color: #2B2D2E;
  --form-input-bg: #141416;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  /* font-weight: 100 900; */
  /* font-style: normal; */
  font-display: swap;
}

@font-face{
  font-family:"InstrumentSans";
  src: url("/fonts/Instrument_Sans/static/InstrumentSans-VariableFont_wdth,wght.ttf");
  font-display: swap;
}

@font-face{
  font-family:"Manrope";
  src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face{
  font-family:"Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
  font-display: swap;
}


@font-face{
  font-family:"Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

